body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "title";
  src: url("../fonts/FontsFree-Net-Proxima-Nova-Black.otf");
}

@font-face {
  font-family: "paragraph";
  src: url("../fonts/FontsFree-Net-Proxima-Nova-Light.otf");
}


@font-face {
    font-family: "digital";
    src: url("../fonts/VT323-Regular.ttf");
}



/*page colors*/
$blank: #ffffff;
$coolBlue: #7ebfd9;
$amsterdamRed: #c03636;
$stoneGrey: #d3d7d8;
$screenBlue: #dfe5f2;
$screenYellow: #fcca4c;

/* button colors*/
$nextButtonYellow: #fcca4c;
$nextButtonYellowHover: #FFBB53;
$nextButtonDarkBlue: #25346c;
$nextButtonDarkBlueHover: #1F216C;

$buttonText: #fff;

/* box text color*/
$boxText: #fff;

section{
  display: grid;
  //border:2px solid red;
  grid-area: area;
}

main{
  width: 100%;
  height: auto;
  min-height: 100vh;
  z-index: 5;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5rem;
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
		  ". . . . . . . . . . . ."
		  ". area area area area area area area area area area ."
		  ". area area area area area area area area area area ."
		  ". area area area area area area area area area area ."
		  ". area area area area area area area area area area ."
		  ". area area area area area area area area area area ."
		  ". area area area area area area area area area area ."
		  ". area area area area area area area area area area ."
		  ". area area area area area area area area area area ."
		  ". area area area area area area area area area area ."
		  ". area area area area area area area area area area ."
		  ". . . . . . . . . . . .";
}

main .button {
  padding: 1.4rem;
  width: 100%;
  height: fit-content;
  border-radius: 0.3rem;
  font-family: paragraph;
  font-size: 1.4rem;
  color: $buttonText;
  text-align: center;
  text-decoration: none;
  margin-top: 2rem;
  align-self: flex-end;
  //height:4rem;
  //  display: table-cell;
  //  vertical-align: middle;
}

.information-box h1{
  font-size:2rem;
  font-family: title;
}

.information-box p{
  font-size:1.4rem;
  font-family: paragraph;
  margin-top: 1rem;;
}

.group{
    display: inline-block;
}

.mapboxgl-popup {
    z-index: 5;
    position: absolute;
}

.mapboxgl-ctrl-bottom-left,.mapboxgl-ctrl-bottom-right{
    display: none!important;
}

.pageNumber{
    width:5rem;
    height: 5rem;
    //border-radius:100%;
    text-align:center;
    font-size: 4rem;
    padding-top:2.5rem;
    line-height:0;
    position:relative;
    color: $blank;
    //background-color: $nextButtonDarkBlue;
    font-family: paragraph;
}
