---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div data-router-wrapper>
  <div  data-router-view="advise" class="page">
    <main class="advise">
        <section class="grid-advise">
            <article>
              <div class="information-box">
                <h1>Advies</h1>
                <p>Stikstofdioxide uitstoot is een wereldwijd probleem dat onderanderen bijdraagt aan de opwarming
                  van de aarde.<br>
                  Om jouw stikstofuitstoot te verlagen hebben wij hier een aantal tips:
                </p>
              </div>
              <div class="wrap">
                <div class="text-item car">
                  <div class="figure">
                    <img src="./img/car_not_done.svg">
                  </div>
                  <div class="textbox">
                    <h1>Reis met de fiets, tram, trein, metro of elektrisch.</h1>
                    <p>zo stoot je geen no2 uit. De bovenstaande OV  voertuigen rijden allemaal op groende stroom.Ook zijn alle laadpalen voor u elektrische voertuigen in amsterdam voorzien van groene energie.</p>
                  </div>
                </div>


                <div class="text-item car">
                  <div class="figure">
                    <img src="./img/shower_advise.svg">
                  </div>
                  <div class="textbox">
                    <h1>Probeer korter te douchen.</h1>
                    <p>Door Korter te douche hoeft er minder water verwarmd te worden. Bij het verwarmen van het water vind er een verbrandings reactie plaats waar No2 bij wordt uitgestoot.</p>
                  </div>
                  </div>

                <div class="text-item car">
                  <div class="figure">
                    <img src="./img/termostat_advise.svg">
                  </div>
                  <div class="textbox">
                    <h1>Zet de verwarming op een lagere temperatuur.</h1>
                    <p>Door de temperatuur van de verwarming lager te zetten kan je per graad zo een 6 tot 7% minder stikstof uitstoten.</p>
                  </div>
                </div>
              </div>
              <a target="_blank" href="http://twitter.com/share?text=Dit is mijn stikstofdioxide uitstoot .. wat is die van jou? Doe nu de test &url=https://no2-footprint.netlify.com/&hashtags=
pollution,myno2footprint" class="button">deel advies</a>
            </article>
        </section>
    </main>
  </div>
</div>
{% endblock %}
