---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div data-router-wrapper>
  <div data-router-view="explore">
    <main class="explore">
        <section class="grid-explore">
            <article>
              <div class="information-box">
                <h1>Stikstofwaardes in jouw buurt</h1>
                <p>
                  <span class="streetName"></span>
                  <span class="houseNumber"></span>
                  <span class="nox-value"></span>
                  <span class="unit"></span>
                </p>
              </div>
              <a class="button" href="explore.html">volgende</a>
            </article>
        </section>
      <div id="map"></div>
    </main>
  </div>
</div>
{% endblock %}
