---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div data-router-wrapper>
  <div data-router-view="footprint" class="page">
    <main  class="footprint">
        <section class="grid-information">
            <article>
              <div class="information-box">
                <h1>Hoeveel stoot jij uit?</h1>
                <p>Je weet nu hoeveel stikstofdioxide in jouw buurt in de lucht hangt, maar wat draag jij hieraan bij?
                </p>
                <a class="button" href="furnace.html">start test</a>
              </div>
              <figure>
                <img src="./img/no2.svg">
              </figure>

            </article>
        </section>
    </main>
  </div>
</div>
{% endblock %}
