---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div data-router-wrapper>
  <div data-router-view="furnace" class="page">
    <main class="furnace">
        <section class="grid-furnace">
            <article>
              <span class="pageNumber">1</span>
              <div class="information-box">
                <h1>Op wat voor een fornuis kook jij?</h1>
                <p>Maak een keuze uit een van de volgende opties.</p>
              </div>


              <div class="page-information">
                <div class="information">
                </div>
                <h1>Informatie</h1>
                <p>
                  De emissie van koken op keramisch en inductie is uitgaand dat er gebruik wordt gemaakt van grijze energie.
                  Er is hierbij gekeken naar de gemiddelde emissie die is vrijgekomen bij het winnen van deze energie door energiecentrales.
                </p>
              </div>

              <form>
                <div class="option an1">
                  <label>
                    <input type="radio" name="type_furnace" class="radioOptions" value="0"/>
                    <span class="rdb"></span>
                    <span>
                    <img src="./img/inductie.svg">
                    <p>Inductie</p>
                    </span>
                  </label>
                </div>

                <div class="option an2">
                <label>
                  <input type="radio" name="type_furnace" class="radioOptions" value="1"/>
                  <span class="rdb"></span>
                  <span>
                    <img src="./img/gas.svg">
                      <p>Gas</p>
                    </span>
                </label>
                </div>

                <div class="option an3">
                  <label>
                    <input type="radio" name="type_furnace" class="radioOptions" value="2"/>
                    <span class="rdb"></span>
                    <span>
                    <img src="./img/keramisch.svg">
                    <p>Keramisch</p>
                    </span>
                  </label>
                </div>
                <a href="thermostat.html" class="button" data-transition="slide">volgende</a>
              </form>
              <div class="pagination-container">
                <a class="pagination" href=""><span class="pagination-circle active"></span></a>
                <a class="pagination" href=""><span class="pagination-circle"></span></a>
                <a class="pagination" href=""><span class="pagination-circle"></span></a>
                <a class="pagination" href=""><span class="pagination-circle"></span></a>
              </div>
              <!--<button id="submit" class="button">volgende</button>-->
            </article>
        </section>
    </main>
  </div>
</div>
{% endblock %}
