---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div data-router-wrapper>
  <div data-router-view="furnace" class="page">
    <main class="furnace">
        <section class="grid-furnace">
            <article>
              <span class="pageNumber">1</span>
              <div class="information-box">
                <h1>Wat voor een kookplaat gebruik je om op te koken?</h1>
                <p>Maak een keuze uit een van de volgende opties.</p>
              </div>


              <div class="page-information">
                <div class="information">
                </div>
                <h1>Informatie</h1>
                <p>De emissie van koken op keramisch en inductie is uitgaand dat er gebruik wordt gemaakt van grijze
                energie.</p>
              </div>

              <form>
                <div class="option an1">
                  <label>
                    <input type="radio" name="type_furnace" class="radioOptions" value="inductie"/>
                    <span class="rdb"></span>
                    <span>
                    <img src="./img/inductie.svg">
                    <p>inductie</p>
                    </span>
                  </label>
                </div>

                <div class="option an2">
                <label>
                  <input type="radio" name="type_furnace" class="radioOptions" value="gas"/>
                  <span class="rdb"></span>
                  <span>
                    <img src="./img/gas.svg">
                      <p>gas</p>
                    </span>
                </label>
                </div>

                <div class="option an3">
                  <label>
                    <input type="radio" name="type_furnace" class="radioOptions" value="keramisch"/>
                    <span class="rdb"></span>
                    <span>
                    <img src="./img/keramisch.svg">
                    <p>keramisch</p>
                    </span>
                  </label>
                </div>
                <a href="thermostat.html" class="button">volgende</a>
              </form>
              <div class="pagination-container">
                <a class="pagination" href=""><span class="pagination-circle active"></span></a>
                <a class="pagination" href=""><span class="pagination-circle"></span></a>
                <a class="pagination" href=""><span class="pagination-circle"></span></a>
                <a class="pagination" href=""><span class="pagination-circle"></span></a>
              </div>
              <!--<button id="submit" class="button">volgende</button>-->
            </article>
        </section>
    </main>
  </div>
</div>
{% endblock %}
