---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div data-router-wrapper>
  <div data-router-view="home" class="page">
    <main class="home">
      <div class="cbgolor _1"></div>
      <div class="cbgolor _2"></div>
      <div class="cbgolor _3"></div>
        <section>
            <article>
              <div class="information-box">
                <!--<h1 id="tag" >NO<sub>2</sub> NO<sub>2</sub> NO<sub>2</sub> NO<sub>2</sub> NO<sub>2</sub> NO<sub>2</sub> NO<sub>2</sub> </h1>-->
              </div>

              <!--<img src="./img/logo-amsterdam.svg" class="logo-amsterdam" alt="logo-amsterdam"/>-->
                <img src="./img/animation_cloud.gif" class="logo-amsterdam" alt="logo-amsterdam"/>
                <!--<img src="./img/logo-knmi.svg" class="logo-knmi" alt="logo-knmi"/>-->
            </article>
        </section>
    </main>
    <a href="introduction.html"  class="triggerIntropage"></a>
  </div>
</div>
{% endblock %}
