---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div data-router-wrapper>
  <div data-router-view="introduction" class="page">
    <main  class="introduction">
        <section class="grid-information">
            <article>
              <div class="information-box">
                <h1>Wat is NO2?</h1>
                <p>Stikstofdioxide (NO2) is een gas dat ontstaat bij een verbrandingsreactie.
                  Voorbeelden waarbij een reactie plaatsvind zijn onder anderen auto’s fabrieken en koken op aardgas.
                  Ook bij energiewinning komt er stikstofdioxide vrij.
                  Bij een te lange blootstelling aan stikstofdioxide (NO2) is dit schadelijk voor mens en milieu.
                </p>
                <a class="button" href="location.html" data-transition="slide">volgende</a>
              </div>
              <figure>
                <img src="./img/no2.svg">
              </figure>

            </article>
        </section>
    </main>
  </div>
</div>
{% endblock %}
