---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div data-router-wrapper>
  <div data-router-view="introduction" class="page">
    <main  class="introduction">
        <section class="grid-information">
            <article>
              <div class="information-box">
                <h1>Wat is NO<sub>2</sub>?</h1>
                <p>Stikstofdioxide (NO<sub>2</sub>) is een gas dat ontstaat bij een verbrandingsreactie.
                  Voorbeelden waarbij een verbrandingsreactie plaatsvindt zijn onder anderen auto’s, fabrieken en koken op aardgas.
                  Ook bij energiewinning komt er stikstofdioxide vrij.
                  Een te lange blootstelling aan stikstofdioxide is schadelijk voor mens en milieu.
                </p>
                <p>Met deze tool krijg je een indicatie over concentratie stikstof in Amsterdam & kun je jouw NO<sub>2</sub> uitstoot berekenen.</p>
                <a class="button" href="location.html" data-transition="slide">verder</a>
              </div>
              <figure>
                <img src="./img/no2.svg">
              </figure>

            </article>
        </section>
    </main>
  </div>
</div>
{% endblock %}
