---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div data-router-wrapper>
  <div  data-router-view="location" class="page">
    <main class="location">
        <section class="grid-location">
            <article>
              <div class="information-box">
                <h1>Hoeveel stikstof wordt er in jouw buurt uitgestoten?</h1>
                <p>Voer je adres in en krijg inzicht over de No2 uitstoot in de buurt.</p>
              </div>


              <div class="page-information">
                <div class="information">
                </div>
                <h1>Informatie</h1>
                <p>Op dit moment is er alleen data beschikbaar over Amsterdam. Andere locaties worden nog niet ondersteund.
                </p>
              </div>

              <form id="location" method="get" action="explore.html" class="fields" data-transition="slide">
                  <div class="group livingplace">
                    <label for="place">Straatnaam</label>
                    <input id="place" type="text" placeholder="straatnaam" value="" name="place" class="place">
                  </div>
                  <div class="group housenumber">
                    <label for="number">Huisnummer</label>
                    <input id="number" type="text" placeholder="huisnummer" value="" name="number" class="number">
                  </div>
                <div class="group postalcode">
                  <label for="number">Postcode</label>
                  <input id="postalcode" type="text" placeholder="postcode" value="" name="postalcode" class="postalcode">
                </div>
              </form>
              <div class="messageBox">
                <p class="message"></p>
              </div>

              <div class="amsterdam-board">
                <img src="./img/board-amsterdam.svg" class="logo-amststerdam-board" alt="board-amsterdam"/>
              </div>

              <input form="location" id="submit" class="button" type="submit" value="volgende" data-transition="slide" />
              <!--<button id="submit" class="button">volgende</button>-->
            </article>
        </section>
    </main>
  </div>
</div>
{% endblock %}
