---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div data-router-wrapper>
  <div  data-router-view="travel" class="page">
    <main class="travel">
      <section class="grid-travel">
        <article>
          <span class="pageNumber">4</span>
          <div class="information-box">
            <h1>Hoeveel km reis jij per week met onderstaande vervoersmiddelen?</h1>
            <p>Voer het aantal kilometers per voertuig in.</p>
          </div>

          <div class="page-information">
            <div class="information">
            </div>
            <h1>Informatie</h1>
            <p>De uitstoot van een kookplaat wordt berekendt doormiddel van gemiddelde uitstoot van een
              huishouden.</p>
          </div>

          <!--<button id="submit" class="button">volgende</button>-->
          <div class="wrap">

            <div class="verhical bus">
                <div class="amount">
                  <input class="input-number" placeholder="0 km" type="number" value="0" min="0" onkeydown="return event.keyCode!== 69" name="bus">
                </div>
                <div class="icon"><img src="./img/bus.svg"></div>
              </div>

              <div class="verhical tram">
                <div class="amount">
                 <input class="input-number" type="number" placeholder="0 km" value="0" min="0" onkeydown="return event.keyCode!== 69" name="tram">
                </div>
                <div class="icon"><img src="./img/tram.svg"></div>
              </div>

              <div class="verhical train">
                <div class="amount">
                  <input class="input-number" type="number" placeholder="0 km" value="0" min="0" onkeydown="return event.keyCode!== 69" name="train">
                </div>
                <div class="icon"><img src="./img/train.svg"></div>
              </div>

              <div class="verhical metro">
                <div class="amount">
                  <input class="input-number" type="number" placeholder="0 km" value="0" min="0" onkeydown="return event.keyCode!== 69" name="metro">
                </div>
                <div class="icon"><img src="./img/metro.svg"></div>
              </div>

            <div class="verhical car">
              <div class="amount">
                <input class="input-number" type="number" placeholder="0 km" value="0" min="0" onkeydown="return event.keyCode!== 69" name="car">
              </div>
              <div class="icon"><img src="./img/car.svg"></div>
            </div>


            <div class="verhical motor">
              <div class="amount">
                <input class="input-number" type="number" placeholder="0 km" value="0" min="0" onkeydown="return event.keyCode!== 69" name="motor">
              </div>
              <div class="icon"><img src="./img/motor.svg"></div>
            </div>

            <div class="verhical car_save">
              <div class="amount">
                <input class="input-number" type="number" placeholder="0 km" value="0" min="0" onkeydown="return event.keyCode!== 69" name="car_save">
              </div>
              <div class="icon"><img src="./img/car_save.svg"></div>
            </div>

            <div class="verhical scooter_save">
              <div class="amount">
                <input class="input-number" type="number" placeholder="0 km" value="0" min="0" onkeydown="return event.keyCode!== 69" name="scooter_save">
              </div>
              <div class="icon"><img src="./img/scooter_save.svg"></div>
            </div>

            <div class="verhical bike">
              <div class="amount">
                <input class="input-number" type="number" placeholder="0 km" value="0" min="0" onkeydown="return event.keyCode!== 69" name="bike">
              </div>
              <div class="icon"><img src="./img/bike.svg"></div>
            </div>

            <div class="verhical scooter">
              <div class="amount">
                <input class="input-number" type="number" placeholder="0 km" value="0" min="0" onkeydown="return event.keyCode!== 69" name="scooter">

              </div>
              <div class="icon"><img src="./img/scooter.svg"></div>
            </div>
            <a href="results.html" class="button" data-transition="slide">volgende</a>
          </div>


          <div class="pagination-container">
            <a class="pagination" href="furnace.html"><span class="pagination-circle active"></span></a>
            <a class="pagination" href="thermostat.html"><span class="pagination-circle active"></span></a>
            <a class="pagination" href="shower.html"><span class="pagination-circle active"></span></a>
            <a class="pagination" href=""><span class="pagination-circle active"></span></a>
          </div>

        </article>
      </section>
    </main>
  </div>
</div>
{% endblock %}
