.furnace{
    background: $stoneGrey;
}

.furnace article{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0.5rem;
    //grid-template-rows: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "page-number info-box info-box info-box info-box info-box info-box . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        "fields fields fields fields fields fields fields fields fields fields fields fields"
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . . ."
        ". . . . . . . . . . button button";

}

.furnace .information-box{
    grid-area: info-box;
    color: $boxText;
}

.furnace .pageNumber{
    grid-area: page-number;
}



.furnace form{
    grid-area: fields;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
    //grid-template-rows: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "an1 an1 an2 an2 an3 an3";
}


.furnace .an1{
    grid-area: an1;
}

.furnace .an2{
    grid-area: an2;
}

.furnace .an3{
    grid-area: an3;
}

.furnace input{
    margin-left: 50%;
    margin-bottom: 2rem;
}

.furnace form span {
    border-radius: 4px;
    width: 100%;
    height: auto;
}

.furnace form span p{
    margin-top: 2rem;
    text-align: center;
    font-size: 1.4rem;
}



.furnace span img{
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    max-height: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.furnace .button{
    grid-area: button;
    color: $boxText;
}

.furnace .button{
    background-color: $nextButtonDarkBlue;
}

.furnace .button:hover{
    background-color: $nextButtonDarkBlueHover;
}


input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
}

input[type="radio"] + .rdb {
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 1rem;
}

input[type="radio"]:checked + .rdb {
    background-color: $nextButtonYellow;
}

